@{ 
    ViewData["Title"] = "Create Listing";
}

<div class="container">
    <a asp-action="CreateListing" asp-controller="Admin">Create New Listing</a>
    <a asp-action="CreateRealtor" asp-controller="Admin">Create New Realtor</a>
</div>
