<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - btre</title>
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
</head>
<body>
    <header>
        <partial name="_TopBar.cshtml" />
        <partial name="_Navbar.cshtml" />

        
    </header>

        <main role="main">
            @RenderBody()
        </main>


    <partial name="_Footer.cshtml" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
